/*头部*/
header{
	position: relative;
	width: 100%;
	background: #D6433B url(../img/bg.png);
	overflow: hidden;
}

.layout{
	width: 75%;
	margin: 0 auto;
	position: relative;
}
.logo{
	position: fixed;
	width: 100%;
	background: transparent;
}
.logo-box a{
	color: #fff;
	font-size: 20px;
	font-family: 'microsoft yahei';
	padding-left: 10px;
}
.logo-box a:hover{
	color:  rgba(0,0,0,.3);
}
.logo-box{
	width: 75%;
	height: 40px;
	padding: 10px 0;
}
.logo-active{
	background: #D6433B url(../img/bg.png);
}
.show-box{
	width: 100%;	
	padding-top:60px;
	height: 540px;
	transition: all 1s;
}
.show-active{
	height: 70px;
}
#welcome{
	width: 100%;
	padding: 65px 0;
}
#welcome .row{
	text-align: center;
	padding: 40px 0;
	font-family: 'microsoft yahei';
}
.row.info1{
	font-size: 40px;
	color: #fff;
}
.row.info2{
	font-size: 24px;
	color: #333;
}
/*向上按钮*/
.slide-btn{
	position: fixed;
	top:540px;
	right: 110px;
	width: 24px;
	height: 24px;
	border:1px solid #fff;
	border-radius: 50%;
	transition: top .5s;
	cursor: pointer;
}
.slide-down::before,.slide-up::before{
	color: #fff;
	line-height: 24px;	
	position: absolute;
	left:4px;
}
.slide-up::before{
	content:'\ea3a';
}
.slide-down::before{
	content: '\ea3e';
}
.slide-btn:hover{
	border-color: rgba(0,0,0,.3);
}
.slide-down:hover::before,.slide-up:hover::before{
	color: rgba(0,0,0,.3);
}
/*nav导航*/
#mainNav{
	height: 80px;
	font:14px/14px 'microsoft yahei';
	width: 100%;
}
#mainNav li{
	float: left;
	overflow: hidden;
	width: 25%;
	text-align: center;
	font-weight: 700;
}
#mainNav a{
	display: inline-block;
	margin-top:27px;
}
#mainNav i::before{
	font-size: 12px;
	margin-right: 3px;
}
i.nav-aboutMe::before{
	content:'\e9cd';
}
i.nav-repo::before{
	content:'\e926';
}
i.nav-blog::before{
	content:'\e907';
}
i.nav-search::before{
	content:'\e986';
}
#mainNav a:hover,#mainNav .nav-active{
	color: #D6433B;
	margin-top: 28px;
}

/*字体*/
[icon]{
	font-family: 'basicfont' !important;
 	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
 	text-transform: none;
  	line-height: 1;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

section{
	height: 1000px;
}