@import "./fonts/iconfont.css";

/*init start */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset, img, input, button, textarea {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

/*把按钮的蓝色边框去掉*/
ul, ol, li {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

select, input {
  vertical-align: middle;
}

select, input, textarea {
  margin: 0;
}

textarea {
  resize: none;
}

/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #111;
}

/*init end */
html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #1D1D1D;
}

.layout {
  width: 100%;
  height: 100%;
  overflow: overflow;
}

.header {
  height: 54px;
}

.btn {
  display: block;
  height: 38px;
  line-height: 38px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}

.card {
  background-color: #343434;
  border-radius: 6px;
  margin: 0 12px 12px;
  padding: 16px 12px;
  min-height: 160px;
}

.row {
  display: flex;
}

.row>.col {
  flex: 1;
}

.input-container {
  height: 38px;
  line-height: 38px;
  background-color: #676767;
  border-radius: 8px;
}

.input-container input {
  width: 100%;
  text-align: center;
  font-size: 17px;
  caret-color: #F0D87D;
}

.input-container input::placeholder {
  color: #272727;
}

.input-container.number {
  padding-right: 30px;
  background-color: #818181;
}

.input-container.number input {
  font-size: 16px;
}

/* home start */
.home-layout {}

.home-layout .header {
  background-color: #F0D87D;
  padding: 0 86px;
  position: relative;
}

.home-layout .header h1 {
  width: 100%;
  height: 100%;
  line-height: 52px;
  font-size: 20px;
  text-align: center;
}

.home-layout .header .add-btn {
  position: absolute;
  top: 7px;
  right: 10px;
  background-color: #B29B45;
  color: #1D1D1D;
  width: 70px;
  font-size: 17px;
  transition: all 0.3s;
}

.home-layout .header .add-btn:active {
  background-color: #978029;
}

/* home end */
/* edit start */
.popup {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: overflow;
  transition: all 0.5s;
  display: none;
}

.popup.show {
  transform: translateY(-100%);
}

.edit-layout {
  background-color: #1D1D1D;
  display: flex;
  flex-direction: column;
}

.edit-layout .header {
  width: 100%;
  flex: 0 0 54px;
  margin-bottom: 10px;
}

.edit-layout .header .close-btn {
  position: absolute;
  left: 10px;
  top: 11px;
  color: #F5F5F5;
  text-align: center;
  margin: auto 0;
}

.edit-layout .header .close-btn i {
  font-size: 30px;
}

.edit-layout .header .close-btn:active {
  color: #ccc;
  transition: all 0.3s;
}

.edit-layout .header .save-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: #272727;
  color: #fff;
  width: 70px;
  font-size: 17px;
}

.edit-layout .section {
  margin-bottom: 10px;
}

.edit-layout .date-section {
  display: flex;
  justify-content: center;
  padding: 6px 0;
}

.edit-layout .date-section .icon-btn {
  color: #fff;
  margin: auto 0;
}

.edit-layout .date-section .icon-btn i {
  font-size: 32px;
  font-weight: 700;
}

.edit-layout .date-section .icon-btn:active {
  color: #ccc;
  transition: all 0.3s;
}

.edit-layout .date-section .primary-btn {
  margin: 0 18px;
  background-color: #F0D87D;
  color: #1D1D1D;
  width: 160px;
  font-size: 18px;
}

.edit-layout .title-section {
  text-align: center;
  padding: 4px 26px;
}

.edit-layout .title-section .input-container {
  height: 40px;
  line-height: 40px;
}

.edit-layout .title-section input {
  font-size: 18px;
}

.edit-layout .content-section {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}

.edit-layout .tab-group {
  padding: 6px 0;
  margin-bottom: 8px;
}

.edit-layout .tab-group .tab-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.edit-layout .tab-group .tab {
  width: 80px;
  height: 38px;
  line-height: 38px;
  font-size: 17px;
  text-align: center;
  background-color: #323235;
  color: #fff;
  transition: all 0.3s;
}

.edit-layout .tab-group .tab:first-child {
  border-top-left-radius: 6px;
}

.edit-layout .tab-group .tab:last-child {
  border-top-right-radius: 6px;
}

.edit-layout .tab-group .tab.selected,.edit-layout .tab-group .tab:active {
  background-color: #F0D87D;
  color: #272727;
}

.edit-layout .content-section .card-container {
  flex: 1;
  overflow: auto;
}

.edit-layout .traffic-card .address-section {
  display: flex;
}

.edit-layout .address-section .leave-container, .address-section .arrive-container {
  flex: 1;
}

.edit-layout .address-section .divide-line {
  margin: auto 20px;
  width: 24px;
  height: 1px;
  position: relative;
  top: 14px;
  background-color: #CCCCCC;
}

.edit-layout .address-section .label {
  color: #fff;
  font-size: 15px;
  margin-bottom: 8px;
  padding-left: 18px;
}

.edit-layout .address-section .input-container {
  margin: 0 5px;
}

.edit-layout .detail-section {
  margin-bottom: 0;
}

.edit-layout .detail-section ul {
  padding: 8px 0;
}

.edit-layout .detail-section .head-li {
  color: #fff;
}

.edit-layout .detail-section .head-li .col {
  line-height: 26px;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
}

.edit-layout .detail-section .col {
  padding: 0 5px;
}

.edit-layout .detail-section .add-btn {
  margin: 12px 5px 0;
  background-color: #272727;
  color: #818181;
  height: 36px;
  line-height: 36px;
}

.edit-layout .detail-section .add-btn i {
  font-size: 22px;
  font-weight: 700;
}

.edit-layout .stay-card .row {
  display: flex;
  margin-bottom: 12px;
}

.edit-layout .stay-card .label {
  width: 58px;
  text-align: center;
  line-height: 38px;
  font-size: 17px;
  color: #fff;
}

.edit-layout .stay-card .tag-group {
  display: flex;
  flex-wrap: wrap;
}

.edit-layout .tag-group .tag {
  height: 38px;
  line-height: 38px;
  font-size: 17px;
  border-radius: 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 0 8px;
  background-color: #676767;
  color: #272727;
}

.edit-layout .tag-group .tag.selected {
  background-color: #F0D87D;
}

.edit-layout .tag-group .input-container {
  margin-left: 2px;
  width: 70px;
}

.edit-layout .stay-card .number {
  width: 100px;
}

.edit-layout .footer {
  padding-bottom: 14px;
}

.edit-layout .footer .add-btn {
  margin: 0 auto;
  width: 60%;
  background-color: #F0D87D;
  color: #1D1D1D;
}

/* edit end */
