@import "./fonts/iconfont.css";

/*init start */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset, img, input, button, textarea {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

/*把按钮的蓝色边框去掉*/
ul, ol, li {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

select, input {
  vertical-align: middle;
}

select, input, textarea {
  margin: 0;
}

textarea {
  resize: none;
}

/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #111;
}

/*init end */
html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Arial';
  color: #1D1D1D;
}

.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1D1D1D;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 54px;
}

.container {
  flex: 1;
  overflow: auto;
}

.btn {
  display: block;
  height: 34px;
  line-height: 34px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s;
}

.btn-small {
  height: 30px;
  line-height: 30px;
}

.section {
  margin-bottom: 10px;
}

.card {
  background-color: #343434;
  border-radius: 6px;
  margin: 0 10px 10px;
  padding: 10px;
  min-height: 120px;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
  margin: 0 -10px;
}

.card.href::before {
  animation: high 0.1s;
}

@keyframes high {
  0% {}

  100% {
    background: #5a5959;
  }
}

.card .section {
  position: relative;
  margin-bottom: 0;
}

.row {
  position: relative;
  display: flex;
}

.row>.col {
  flex: 1;
}

.row>.col2 {
  flex: 2;
}

.input-container {
  height: 36px;
  line-height: 36px;
  background-color: #676767;
  border-radius: 8px;
}

.input-container input {
  width: 100%;
  text-align: center;
  font-size: 15px;
  height: 36px;
  line-height: 36px;
  caret-color: #F0D87D;
}

.input-container input::placeholder {
  color: #272727;
}

.input-container.number {
  background-color: #818181;
}

.icon-del {
  color: #E6DCDC !important;
}

.active {
  transition: all 0.3s;
}

.active:active {
  transform: scale(0.9) !important;
}

.add-card-btn {
  margin: 12px 0 0;
  background-color: #272727;
  color: #818181;
  height: 30px;
  line-height: 30px;
}

.add-card-btn i {
  font-size: 20px;
  font-weight: 700;
}

.footer .btn {
  flex: 1;
  height: 34px;
  line-height: 34px;
  margin: 0 5px;
}

.footer .add-btn {
  background-color: #F0D87D;
  color: #1D1D1D;
}

.footer .del-btn {
  background-color: #ff4d4f;
  color: #fff;
}

.divide-line {
  margin: auto 20px;
  width: 24px;
  height: 1px;
  background-color: #CCCCCC;
}

.no-data {
  text-align: center;
  color: #fff;
  margin: 10px;
}

/* header start */
.header {
  background-color: #F0D87D;
  padding: 0 86px;
  position: relative;
}

.header h1 {
  width: 100%;
  height: 100%;
  line-height: 52px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.header .icon-btn {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #1D1D1D;
}

.header .icon-btn i {
  font-size: 26px;
}

.header .btn-small {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #B29B45;
  color: #1D1D1D;
  width: 70px;
}

/* header end */
/* tag-group start */
.tag-group {
  display: flex;
  flex-wrap: wrap;
  line-height: 36px;
}

.tag-group .tag {
  height: 36px;
  line-height: 36px;
  border-radius: 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 0 8px;
  background-color: #676767;
  color: #272727;
  font-size: 15px;
  transition: all 0.3s;
  position: relative;
}

.tag-group .input-container {
  margin-left: 2px;
  width: 70px;
}

.tag-group .close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  top: -8px;
  right: -6px;
}

.tag-group .close-btn i {
  font-size: 20px;
}

.tag-group:not(.show) .tag.selected, .tag-group:not(.show) .tag:not(.input-container):active {
  background-color: #F0D87D;
}

/* tag group end */
/* home start */
.home-layout {}

.home-layout .calendar-section {
  margin-bottom: 0;
}

.home-layout .tool-group {
  height: 36px;
  padding: 6px 10px;
  display: flex;
}

.home-layout .tool-group .icon-btn {
  width: 38px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #323235;
}

.home-layout .tool-group .icon-btn i {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.home-layout .tool-group .date-range {
  flex: 1;
  display: flex;
}

.home-layout .tool-group .date {
  flex: 1;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
}

.home-layout .calendar-container {
  background-color: rgba(103, 103, 103, 0.31);
  border-radius: 6px;
  margin: 0 10px;
  padding: 8px;
  min-height: 120px;
}

.home-layout .calendar-container .weekend-row {
  margin-bottom: 4px;
}

.home-layout .calendar-container .content-row {
  flex-wrap: wrap;
}

.home-layout .calendar-container .col {
  flex: 0 0 14.28%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 15px;
}

.home-layout .calendar-container .weekend-row .weekend {
  color: #B7B0B0;
}

.home-layout .calendar-container .weekend-row .holiday {
  color: #565454;
}

.home-layout .calendar-container .content-row .col a {
  color: #B7B0B0;
  display: block;
  width: 100%;
  position: relative;
  transition: all 0.3s;
}

.home-layout .calendar-container .content-row .col a::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-layout .calendar-container .content-row .col span {
  position: relative;
}

.home-layout .calendar-container .content-row .holiday a {
  color: #565454;
}

.home-layout .calendar-container .content-row .col a.selected {
  color: #D5D0D0;
}

.home-layout .calendar-container .content-row .col a.selected::before {
  background-color: #272727;
}

.home-layout .calendar-container .content-row .col.today a {
  color: #1D1D1D;
}

.home-layout .calendar-container .content-row .col.today a::before {
  background-color: #F0D87D;
}

.home-layout .calendar-container .icon-alert {
  position: absolute;
  top: -10px;
  right: 4px;
  color: #00C764;
}

.home-layout .total-container {
  margin-bottom: 20px;
}

.home-layout .total-section .title-group {
  padding: 10px;
  background-color: #1D1D1D;
}

.home-layout .total-section .title-group .title {
  margin: 0 auto;
  width: 150px;
  height: 28px;
  line-height: 28px;
  background-color: #323235;
  color: #fff;
  font-size: 13px;
}

.home-layout .total-section .search-group {
  background-color: #1D1D1D;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
}

.home-layout .total-section .tag-group .tag {
  margin-bottom: 0;
}

.home-layout .total-section .switch-group {
  display: flex;
  align-items: center;
  color: #fff;
}

.home-layout .total-section .switch-group span {
  font-size: 15px;
  padding: 0 6px;
  position: relative;
  top: -1px;
}

.home-layout .total-section .switch-group .switch-container {
  background-color: #676767;
  border-radius: 18px;
  width: 56px;
  height: 30px;
  position: relative;
}

.home-layout .total-section .switch-group .switch-container::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #F0D87D;
  transition: all 0.3s;
}

.home-layout .total-section .switch-group.open .switch-container::before {
  transform: translateX(26px);
}

.home-layout .total-container {
  line-height: 210%;
}

.home-layout .total-container .card {
  padding: 10px 0 0;
}

.home-layout .total-container .card::before {
  display: none;
}

.home-layout .total-container .date-tag {
  background-color: #F0D87D;
  width: 110px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-top-right-radius: 8px;
  margin-bottom: 10px;
}

.home-layout .total-container .row {
  margin-bottom: 2px;
}

.home-layout .total-container .col, .home-layout .total-container .col-auto {
  display: flex;
  align-items: center;
}

.home-layout .total-container .label {
  flex: 0 0 84px;
  text-align: right;
  margin-right: 4px;
  font-size: 15px;
  color: #fff;
}

.home-layout .total-container .text {
  color: #E6DCDC;
  font-size: 15px;
}

.home-layout .price-wrap {
  margin-left: 8px;
  width: 120px;
  display: flex;
  border: 1px solid #797979;
  border-radius: 6px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
}

.home-layout .price-wrap.single {
  width: 60px;
}

.home-layout .price-wrap span {
  flex: 1;
  text-align: center;
  color: #fff;
}

.home-layout .price-wrap span+span {
  color: #B29B45;
  border-left: 1px solid #797979;
}

.home-layout .total-container .total-footer {
  padding: 0 10px;
  margin-top: 10px;
  padding: 0 -10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #2B2B2D;
  height: 38px;
  line-height: 38px;
}

.home-layout .total-container .total-footer .label {
  flex: 0 0 50px;
}

.home-layout .total-footer .price-wrap {
  margin-left: 0;
  margin-right: 5px;
}

.home-layout .total-footer .col .price-wrap {
  flex: 1;
}

.home-layout .total-footer .price-wrap span+span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #B29B45;
  color: #fff;
}

.home-layout .total-footer .contrast {
  padding: 0 4px;
  color: #B29B45;
}

.home-layout .footer {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #fff;
  background-color: #343434;
  text-align: right;
  padding-right: 10px;
  margin-top: 6px;
  padding: 0 10px;
}

.home-layout .footer .num-group {
  color: #E6DCDC;
}

.home-layout .footer .download-btn {
  color: #B29B45;
  flex: 0 0 36px;
}

.home-layout .footer .download-btn i {
  font-size: 26px;
  position: relative;
  top: 2px;
}

.home-layout .footer .col {
  display: flex;
  align-items: center;
}

/* home end */
/* edit start */
.popup {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s;
  display: none;
  z-index: 999
}

.popup.vertical {
  top: 100%;
  left: 0;
}

.popup.horizontal {
  top: 0;
  left: -100%;
}

.popup.vertical.show {
  transform: translateY(-100%);
}

.popup.horizontal.show {
  transform: translateX(100%);
}

.edit-layout .header {
  background: transparent;
  height: 40px;
  margin-bottom: 10px;
}

.edit-layout .header .close-btn {
  position: absolute;
  left: 10px;
  top: 6px;
  color: #F5F5F5;
  text-align: center;
  margin: auto 0;
}

.edit-layout .header .close-btn i {
  font-size: 26px;
}

.edit-layout .header .save-btn {
  top: 9px;
  background-color: #323235;
  color: #fff;
}

.edit-layout .date-section {
  display: flex;
  justify-content: center;
}

.edit-layout .date-section .icon-btn {
  color: #fff;
  margin: auto 0;
  height: 32px;
}

.edit-layout .date-section .icon-btn i {
  font-size: 24px;
  font-weight: 700;
}

.edit-layout .date-section .primary-btn {
  margin: 0 18px;
  background-color: #F0D87D;
  color: #1D1D1D;
  width: 160px;
  height: 32px;
  line-height: 32px;
}

.edit-layout .title-section {
  text-align: center;
  padding: 0 26px;
  height: 34px;
}

.edit-layout .title-section .input-container {
  line-height: 34px;
  height: 34px;
}

.edit-layout .title-section .input-container input {
  line-height: 34px;
  height: 34px;
}

.edit-layout .content-section {}

.edit-layout .divide-line {
  position: relative;
  top: 14px;
}

.edit-layout .tab-group {
  background-color: #1D1D1D;
  padding: 6px 0;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 999;
}

.edit-layout .tab-group .tab-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.edit-layout .tab-group .tab {
  width: 80px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #323235;
  color: #fff;
  transition: all 0.3s;
}

.edit-layout .tab-group .tab:first-child {
  border-top-left-radius: 6px;
}

.edit-layout .tab-group .tab:last-child {
  border-top-right-radius: 6px;
}

.edit-layout .tab-group .tab.selected, .edit-layout .tab-group .tab:active {
  background-color: #F0D87D;
  color: #272727;
}

.edit-layout .content-section .card-container {
  flex: 1;
  overflow: auto;
}

.edit-layout .traffic-card .address-section {
  display: flex;
}

.edit-layout .address-section .leave-container, .address-section .arrive-container {
  flex: 1;
}

.edit-layout .address-section .label {
  color: #fff;
  font-size: 12px;
  margin-bottom: 8px;
  padding-left: 6px;
}

.edit-layout .address-section .input-container {}

.edit-layout .detail-section .head-li {
  color: #fff;
}

.edit-layout .detail-section li:not(.head-li) {
  margin-bottom: 4px;
}

.edit-layout .detail-section .head-li .col:not(.close-col) {
  line-height: 26px;
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
}

.edit-layout .detail-section .row {
  margin-bottom: 2px;
}

.edit-layout .detail-section .col {
  padding: 0 2px;
}

.edit-layout .detail-section .close-col {
  flex: 0 0 26px;
  text-align: center;
  position: relative;
}

.edit-layout .detail-section .close-col a {
  line-height: 36px;
  transition: all 0.3s;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.edit-layout .detail-section .close-col .iconfont {
  font-size: 22px;
}

.edit-layout .stay-card .row {
  display: flex;
  margin-bottom: 8px;
}

.edit-layout .stay-card .label {
  width: 50px;
  text-align: center;
  line-height: 36px;
  height: 36px;
  font-size: 13px;
  color: #fff;
}

.edit-layout .stay-card .number {
  width: 100px;
}

.edit-layout .footer {
  padding: 10px 5px 20px;
  display: flex;
}

.edit-layout .cost-card .detail-section .close-col a {
  top: 0;
}

/* edit end */
/* user start */
.user-layout .header {
  margin-bottom: 10px;
}

.user-layout .card {
  padding: 2px 10px;
  min-height: auto;
}

.user-layout .card::before {
  display: none;
}

.user-layout .row {
  height: 40px;
  line-height: 40px;
  display: flex;
}

.user-layout .row span {
  color: #fff;
}

.user-layout .row input {
  color: #B7B0B0;
  font-size: 16px;
  flex: 1;
  margin: 0 10px 0 20px;
  text-align: right;
}

.user-layout .row i {
  color: #fff;
  font-size: 12px;
  position: relative;
  top: 1px;
}

.user-layout .row+.row {
  border-top: 1px solid #1D1D1D;
}

.user-layout .tag-group {
  padding: 20px 0 10px;
}

.user-layout .input-group {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;
}

.user-layout .input {
  flex: 0 0 50%;
  display: flex;
  margin-bottom: 4px;
}

.user-layout .input-container {
  flex: 1;
}

.user-layout .input-container:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.user-layout .input-container.number {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.user-layout .input .icon-del {
  width: 36px;
  text-align: center;
  line-height: 36px;
}

.user-layout .input .icon-del .iconfont {
  font-size: 20px;
}

.user-layout .add-card-btn {
  margin-bottom: 8px;
}

.user-layout .del-card {
  padding: 0;
}

.user-layout .del-card .del-btn {
  color: #ff4d4f;
}

.user-layout .footer .add-btn {
  margin: 0 auto;
  width: 80%;
}

.user-layout .footer {
  padding: 10px 5px 20px;
}

/* user end */
.tip-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: rgba(52, 52, 52, 0.5); */
  padding: 0 16px;
}

.tip-container .tip {
  margin: 0 auto;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  border-radius: 6px;
  animation: tipShow 1s;
  transform: translateY(30px);
  font-size: 16px;
  color: #fff;
}

.tip-container .tip i {
  font-size: 20px;
  margin-right: 6px;
  position: relative;
  top: 1px;
}

.tip-container.success .tip {
  background-color: #00C764;
}

.tip-container.normal .tip {
  background-color: #ff4d4f;
}

.tip-container.hide .tip {
  opacity: 0;
}

@keyframes tipShow {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
    transform: translateY(30px);
  }

  90% {
    opacity: 1;
    transform: translateY(30px);
  }

  100% {
    opacity: 0;
  }
}
