@font-face {
  font-family: "iconfont"; /* Project id 2975163 */
  src: url('iconfont.woff2?t=1638714367975') format('woff2'),
       url('iconfont.woff?t=1638714367975') format('woff'),
       url('iconfont.ttf?t=1638714367975') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-circle:before {
  content: "\e77e";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-caret-up:before {
  content: "\e8ed";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-close-circle-fill:before {
  content: "\e844";
}

